/* .App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}*/

/* a{
  text-decoration: inherit !important;
  color: inherit !important;
}

a:hover{
  color: blue !important;
  text-decoration: inherit !important;
} */
 
